@if (error()) {
  <app-error-modal
    [title]="'An error occurred!'"
    [message]="error()"
  />
} 

<header>
  <img src="logo.png" alt="Stylized globe" />
  <h1>PlacePicker</h1>
  <p>
    Create your personal collection of places you would like to visit or you
    have visited.
  </p>
</header>

<main>
  <app-available-places />

  <app-user-places />
</main>
/home/sumuru/Angular/Udemy/angular-complete-guide-course-resources-main/code-snapshots/12-http/10-handling-errors-globally/src/app/shared